  <br> <br>
<!-- <div class="container-fluide"> -->
    <div class="row">
        <app-navbar (addUser)='getResponse($event)'></app-navbar>
    </div> <!--end row form -->
  
    <div class="row">
      <div class="col-md-6">
        <div appBolder class="profile-card">
          <div class="center">
            <img src="{{profile.photoUrl}}" alt="Avatar">
            <h3 appBolder >{{profile.userProfile}}</h3>
          </div>
          <p>{{profile.bio}}</p>
          <div class="follow">
            <button class="btn-info" type="button" name="button">Followers: {{profile.followers}}</button>
            <button class="btn-info following" type="button" name="button">Following: {{profile.following}}</button>
          </div>
          <br>
          <div class="center">
            <button class="btn-danger" type="button" name="button" (click)='toggleRepos()' (click)='getRepos()'> Repos:{{profile.numRepos}} <br> Click to View </button>
          </div>
          <br>
          <p>Created {{profile.created|dateCount}} day(s) ago.</p>
          {{profile.showRepos}}
        </div>
      </div> <!-- end div profile -->
  
  
      <div class="col-md-6 scroll">
        <div *ngFor='let repositoryclass of arrayRepositoryclass'>
          <app-github-profile *ngIf='profile.showRepos'> [repositoryclass]='repositoryclass'</app-github-profile>
        </div>
      </div> <!-- end div repos -->
  
  
    </div> <!-- end div row github -->
  
  <!-- </div> -->