#img{
    height: 50px;
    width: 50px;
}
#nav{
    background-color: black;
}
#btn{
  /* float: left; */
  width: 30%;
  padding: 15px;
  background: rgb(70, 68, 68);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;

}