<!-- <p>navbar works!</p> -->
<div class="container-fluide">
    <div class="row">
        <div class="col-md-12">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <nav class="navbar navbar-expand-lg " id="nav">
                <img src="./assets/images/git.png" alt="github log" id="img" style="margin: 15px;">
                <form (ngSubmit)='submitUser()' #githubForm='ngForm'>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="username" name="name" #name="ngModel"
                            style="background-color: rgb(70, 68, 68); border: none; color: ghostwhite; margin-left: 15px; "
                            class="form-control" placeholder="Search or Jump to ...">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"
                                style="background-color: rgb(70, 68, 68); border: none; color: ghostwhite; ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </nav>

        </div>
    </div>
</div>