<!-- <p>navbar works!</p> -->
<div class="container-fluide">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg " id="nav">
                <img src="./assets/images/git.png" alt="github log" id="img" style="margin: 10px;">
                <form>
                    <div class="form-group row">
                        <input input type="text"
                            style="background-color: rgb(70, 68, 68); border: none; color: ghostwhite; margin-left: 10px; "
                            class="form-control" placeholder="Search or Jump to ...">
                    </div>
                </form>
            </nav>

        </div>
    </div>
</div>